.navbar-brand img{
   height: 50px;
}

header {
  BACKGROUND-COLOR: #0052A6 !important;
}

.navbar-nav li, a{
  padding-right: 25px;
  color: white;
}

.navbar-toggler{
  border-color: white !important;
}

 /* кнопка о нас */
.btn-outline-secondary {
    color: rgba(255,255,255,.75);
    border-color: rgba(255,255,255,.75);
}
/* кнопка о нас */
.btn-outline-secondary:hover {
    color: #0052A6;
    background-color: #ddd;
    border-color: #ddd;
}


hr{
  height: 2px;
  border-radius: 8px;
}
