{% extends "BaseLayout.html" %}

{% block title %}AdminPanel{% endblock %}

{% block deskotnav %}
{% if session %}
<a class="btn header_btn" href="/logout.php">Выйти</a>
{% else %}
<a class="btn header_btn" href="/Login.php">Войти</a>
{% endif %}
{% endblock %}

{% block mobilenav %}
{% if session %}
<li><a class="dropdown-item" href="/logout.php">Выйти</a></li>
{% else %}
<li><a class="dropdown-item" href="/Login.php">Войти</a></li>
{% endif %}
{% endblock %}

{% block content %}

<script>
    function cc(form){
        alert(form.elements[3].value);
        alert(123456);
        return false;
        alert(98745);
    }
</script>

<form style="display: grid" onsubmit="return cc(this)" method="post">
    <input required class="txtinput" type="text" name="filmname" autocomplete="off" style="margin: 3px 0">
    <input required class="txtinput" type="number" min="0" name="year" style="margin: 3px 0">
    <input required class="txtinput" type="text" name="director" autocomplete="off" style="margin: 3px 0">
    <select class="txtinput" style="margin: 3px 0" required name="filmgenre">
        <option disabled selected>--Жанр--</option>
        {% for item in genres %}
            <option>{{item.name}}</option>
        {% endfor %}
    </select>
    <textarea class="txtinput" rows="5" name="description" style="margin: 3px 0"></textarea>
    <input required class="txtinput" type="text" name="poster" autocomplete="off" style="margin: 3px 0">
    <input required class="txtinput" type="text" name="file" autocomplete="off" style="margin: 3px 0">
    <button type="submit" class="btn main_btn" style="border-radius: 5px; margin: 3px 0">Добавить</button>
</form>
<hr>


{% endblock %}
