{% extends "BaseLayout.html" %}

{% block title %}AdminPanel{% endblock %}

{% block deskotnav %}
{% if session %}
<a class="btn header_btn" href="/logout.php">Выйти</a>
{% else %}
<a class="btn header_btn" href="/Login.php">Войти</a>
{% endif %}
{% endblock %}

{% block mobilenav %}
{% if session %}
<li><a class="dropdown-item" href="/logout.php">Выйти</a></li>
{% else %}
<li><a class="dropdown-item" href="/Login.php">Войти</a></li>
{% endif %}
{% endblock %}

{% block content %}

<script>
    function cc(form){
        for (let i = 0; i < 3; i++) {
            if (form.elements[i].value.trim() == '') {
                alert('Не заполнено одно из полей');
                return false;
            }
        }
        if(form.elements['filmgenre'].value == '--Жанр--') {
            alert('Не указан жанр');
            return false;
        }
        for (let i = 4; i < form.elements.length-1; i++) {
            if (form.elements[i].value.trim() == '') {
                alert('Не заполнено одно из полей');
                return false;
            }
        }
    }
</script>

<h2>Добро пожаловать в админ панель!</h2>
<form style="display: grid" onsubmit="return cc(this)" method="post" action="">
    <input required placeholder="Название фильма" class="txtinput" type="text" name="filmname" autocomplete="off" style="margin: 3px 0">
    <input required placeholder="" class="txtinput" type="number" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" name="year" style="margin: 3px 0">
    <input required placeholder="" class="txtinput" type="text" name="director" autocomplete="off" style="margin: 3px 0">
    <select class="txtinput" style="margin: 3px 0" required name="filmgenre">
        <option disabled selected>--Жанр--</option>
        {% for item in genres %}
            <option>{{item.name}}</option>
        {% endfor %}
    </select>
    <textarea required placeholder="" class="txtinput" rows="5" name="description" style="margin: 3px 0"></textarea>
    <input required placeholder="" class="txtinput" type="text" name="poster" autocomplete="off" style="margin: 3px 0">
    <input required placeholder="" class="txtinput" type="text" name="file" autocomplete="off" style="margin: 3px 0">
    <button type="submit" class="btn main_btn" style="border-radius: 5px; margin: 3px 0">Добавить</button>
</form>
<hr>


{% endblock %}
