{% extends "BaseLayout.html" %}

{% block title %}AdminPanel{% endblock %}

{% block deskotnav %}
{% if session %}
<a class="btn header_btn" href="/logout.php">Выйти</a>
{% else %}
<a class="btn header_btn" href="/Login.php">Войти</a>
{% endif %}
{% endblock %}

{% block mobilenav %}
{% if session %}
<li><a class="dropdown-item" href="/logout.php">Выйти</a></li>
{% else %}
<li><a class="dropdown-item" href="/Login.php">Войти</a></li>
{% endif %}
{% endblock %}

{% block content %}
<script src="../static/scripts/FilmAddForm.js"></script>
<h2>Добро пожаловать в админ панель!</h2>
<form style="display: grid" onsubmit="return validateform(this)" method="post" action="FilmAdd.php">
    <input required placeholder="Название фильма" class="txtinput" type="text" name="filmname" autocomplete="off" style="margin: 3px 0">
    <input required placeholder="Год" class="txtinput" type="number" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" name="year" style="margin: 3px 0">
    <input required placeholder="Режисер" class="txtinput" type="text" name="director" autocomplete="off" style="margin: 3px 0">
    <select class="txtinput" style="margin: 3px 0" required name="filmgenre">
        <option disabled selected>--Жанр--</option>
        {% for item in genres %}
            <option>{{item.name}}</option>
        {% endfor %}
    </select>
    <textarea required placeholder="Описание" class="txtinput" rows="5" name="description" style="margin: 3px 0"></textarea>
    <input required placeholder="Ссылка на постер" class="txtinput" type="text" name="poster" autocomplete="off" style="margin: 3px 0">
    <input required placeholder="Ссылка на файл" class="txtinput" type="text" name="file" autocomplete="off" style="margin: 3px 0">
    <button type="submit" class="btn main_btn" style="border-radius: 5px; margin: 3px 0">Добавить</button>
</form>
<hr>

<script src="../static/scripts/FilmDelete.js"></script>
<table style="width: 100%; text-align: center">
    <tr>
        <th>id</th>
        <th>Название</th>
        <th>Год</th>
        <th>Режисер</th>
    </tr>
    {% for item in catalog %}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.year}}</td>
        <td>{{item.director}}</td>
        <td><a href="#">Удалить</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
