{% extends "BaseLayout.html" %}

{% block title %}Welcome{% endblock %}

{% block deskotnav %}
    {% if access %}
        <a class="btn header_btn" href="/AdminPanel.php">Админ панель</a>
    {% endif %}
    {% if session %}
        <a class="btn header_btn" href="/logout.php">Выйти</a>
    {% else %}
        <a class="btn header_btn" href="/Login.php">Войти</a>
    {% endif %}
{% endblock %}

{% block mobilenav %}
    {% if access %}
        <li><a class="dropdown-item" href="/AdminPanel.php">Админ панель</a></li>
    {% endif %}
    {% if session %}
        <li><a class="dropdown-item" href="/logout.php">Выйти</a></li>
    {% else %}
        <li><a class="dropdown-item" href="/Login.php">Войти</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-4">
        <div style="display: flex; justify-content: space-between;">
            <input class="txtinput" type="text" id="FilmNameInput">
            <button class="btn main_btn" style="border-radius: 5px" id="FindeByName">поиск</button>
        </div>
        <div style="display: grid" id="GenreList">
            {% for item in genre %}
                <a class="genrelinks" href="#" >{{item.name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 col-md-8" id="FilmList">
            <hr style="margin: 0">
            {% for item in catalog %}
            <a style="font-size: 28px;" href='/player.php?FilmID={{item.id}}'>{{item.name}}</a>
            <div class="row">
                    <div class="col-md-4">
                            <img style="object-fit: cover" width="100%" src={{item.poster ?? "../static/images/noposter.jpg"}} alt="Poster" />
                    </div>
                    <div class="col-md-8">
                            <p>Год: {{item.year}}</p>
                            <p>Жанр: {{item.genre}}</p>
                            <p>Режисер: {{item.director}}</p>
                            <p class="description">{{item.description}}</p>
                    </div>
            </div>
            <hr style="margin: 1rem 0 0 0">
            {% endfor %}
    </div>
</div>
{% endblock %}
