{% extends "BaseLayout.html" %}

{% block title %}Watching{% endblock %}

{% block deskotnav %}
{% if access %}
<a class="btn header_btn" href="/AdminPanel.php">Админ панель</a>
{% endif %}
    {% if session %}
        <a class="btn header_btn" href="/logout.php">Выйти</a>
    {% else %}
        <a class="btn header_btn" href="/Login.php">Войти</a>
    {% endif %}
{% endblock %}

{% block mobilenav %}
{% if access %}
<li><a class="dropdown-item" href="/AdminPanel.php">Админ панель</a></li>
{% endif %}
    {% if session %}
        <li><a class="dropdown-item" href="/logout.php">Выйти</a></li>
    {% else %}
        <li><a class="dropdown-item" href="/Login.php">Войти</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-4">
        {% if film.poster == "" %}
            <img style="object-fit: cover" width="100%" src="../static/images/noposter.jpg" alt="Poster" />
        {% else %}
            <img style="object-fit: cover" width="100%" src={{film.poster}} alt="Poster" />
        {% endif %}
    </div>
    <div class="col-12 col-lg-8">
        <h1>{{film.name}}</h1>
        <h4>Год: {{film.year}}</h4>
        <h4>Режисер: {{film.director}}</h4>
        <h4>Жанр: {{film.genre}}</h4>
    </div>
    <div class="col-12">
        <p>{{film.description}}</p>
    </div>
    {% if session %}
        <div>
            <video controls="controls">
                <source src={{film.file}}>
            </video>
        </div>
    {% else %}
        <hr>
        <div align="center" style="height: 380px">
            <h1 style="position: relative; top: 42%">Для просмотра выполните <a href="../Login.php">авторизацию</a></h1>
        </div>
        <hr>
    {% endif %}
    <h3>Коментарии:</h3>
    {% if session %}
        <form method="post" action="CommentAdd.php">
            <div style="display: flex; justify-content: space-between; margin-bottom: 0.5rem;">
                <input required class="txtinput" type="text" name="comment" id="CommentInput">
                <button type="submit" class="btn main_btn" style="border-radius: 5px">Отправить</button>
            </div>
        </form>
    {% endif %}

    {% for item in comments %}
        <hr>
        <div>
            <p>{{item.user}}, {{item.date}}</p>
            <p>{{item.comment}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}