{% extends "BaseLayout.html" %}

{% block title %}ыы{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            <img width="100%" src="../static/images/myLogo_blue.png" />
        </div>
        <div class="col-12 col-lg-8">
            <h1>Name</h1>
            <p>year: 2020</p>
            <p>director: mikle bay</p>
            <p>genre: action</p>
        </div>
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, cumque fuga iure quaerat repellat sequi similique temporibus? Beatae cum deserunt dolores ducimus expedita facilis fugit iste laudantium minus molestias nemo quasi, recusandae repudiandae sapiente tempore temporibus voluptas, voluptatem! Eligendi error hic in minima quasi suscipit tenetur veniam vero voluptas voluptatem.</p>
        </div>
        <div>
            <video controls="controls">
                <source src="">
            </video>
        </div>
        <h3>Коментарии:</h3>
        <div>
            <input type="text">
            <button class="btn main_btn" style="border-radius: 5px" >Отправить</button>
        </div>
        <hr>
        <div>
            <p>username, date</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aliquid assumenda cumque deserunt distinctio dolor est harum in ipsum magnam nemo placeat porro quisquam recusandae rem sapiente velit voluptatibus!</p>
        </div>
        <hr>
        <div>
            <p>username, date</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aliquid assumenda cumque deserunt distinctio dolor est harum in ipsum magnam nemo placeat porro quisquam recusandae rem sapiente velit voluptatibus!</p>
        </div>
        <hr>
        <div>
            <p>username, date</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aliquid assumenda cumque deserunt distinctio dolor est harum in ipsum magnam nemo placeat porro quisquam recusandae rem sapiente velit voluptatibus!</p>
        </div>

    </div>
</div>
{% endblock %}