{% extends "BaseLayout.html" %}

{% block title %}Watching{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-4">
        <img width="100%" src={{film.poster ?? "../static/images/noposter.jpg"}} alt="Poster" />
    </div>
    <div class="col-12 col-lg-8">
        <h1>{{film.name}}</h1>
        <h4>year: {{film.year}}</h4>
        <h4>director: {{film.director}}</h4>
        <h4>genre: {{film.genre}}</h4>
    </div>
    <div class="col-12">
        <p>{{film.description}}</p>
    </div>
    {% if session %}
        <div>
            <video controls="controls">
                <source src={{film.file}}>
            </video>
        </div>
    {% else %}
        <hr>
        <div align="center" style="height: 380px">
            <h1 style="position: relative; top: 42%">Для просмотра выполните <a href="../Login.php">авторизацию</a></h1>
        </div>
        <hr>
    {% endif %}
    <h3>Коментарии:</h3>
    {% if session %}
        <div style="display: flex; justify-content: space-between; margin-bottom: 0.5rem;">
            <input class="txtinput" type="text" id="CommentInput">
            <button class="btn main_btn" style="border-radius: 5px" id="CommentSend">Отправить</button>
        </div>
    {% endif %}

    {% for item in comments %}
        <hr>
        <div>
            <p>{{item.user}}, {{item.date}}</p>
            <p>{{item.comment}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}